<div
  class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
>
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <div class="mb-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="text-grey-darkest">Todo List</h1>
        <div class="flex mt-4">
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker hover:border-green-400 focus:border-green-500"
            placeholder="Todo Title"
            formControlName="todoTitle"
          />
        </div>
        @if(form.get('todoTitle')?.touched && !form.get('todoTitle')?.valid){
          <div class="text-red-600 m-1">Todo Title is required</div>
        }
        <div class="flex mt-4">
          <input
            class="shadow appearance-none border hover:border-green-400  rounded w-full py-2 px-3 mr-4 text-grey-darker"
            placeholder="Add Todo"
            formControlName="todoDescription"
          />
        </div>
        @if((form.get('todoDescription')?.touched)&& !form.get('todoDescription')?.valid){
          <div class="text-red-600 m-1">Todo Description is required</div>
        }
        <div class="flex justify-end m-2">
           <button
            type="submit"
            class=" bg-green-500 text-white font-bold rounded-md p-2 border-2  text-teal border-teal  hover:bg-green-700 hover:bg-teal"
          >
            Add Todo
          </button>
        </div>
      </form>
    </div>
    <!-- <div>
      <div class="flex mb-4 items-center">
        <p class="w-full text-grey-darkest">
          Add another component to Tailwind Components
        </p>
        <button
          class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green"
        >
          Done
        </button>
        <button
          class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red"
        >
          Remove
        </button>
      </div>
      <div class="flex mb-4 items-center">
        <p class="w-full line-through text-green">
          Submit Todo App Component to Tailwind Components
        </p>
        <button
          class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-grey border-grey hover:bg-grey"
        >
          Not Done
        </button>
        <button
          class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red"
        >
          Remove
        </button>
      </div>
    </div> -->
  </div>
</div>
